/* header */

.logo {
	width: 150px;
	max-width: 100%;
	height: auto;
	padding: 15px;
	display: block;
	margin-left: 600px;
	justify-content: center;
	text-align: center;
}
header {
	background-color:white;
	
}

.navbar {
	background-color: rgb(248, 190, 115);
	font-family: Georgia, 'Times New Roman', Times, serif;
}